
:local(.celda) {
    width: auto;
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #c6c6c6;

    /* margin: 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgb(53, 53, 53); */

    transition: border 0.15s ease-in-out;
}

:global(.facil) :local(.celda) {
    height: 50px;
    width: 50px;
    line-height: 50px;
}

:local(.error) {
    background-color: red !important;
}

:local(.mina),
:local(.bandera) {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

:local(.celdaMina):local(.descubierto) {
    background-color: red;
}

:local(.celda):local(.descubierto) {
    border: 2px solid #807c7c;
}

:local(.celda):not(:local(.descubierto)) {
    border-style: outset;
    border-width: 6px;

    border-top-color: white;
    border-left-color: white;
    border-bottom-color: silver;
    border-right-color: silver;
}

:local(.celda):local(.descubierto),
:local(.celda):local(.finalizado) {
    cursor: not-allowed;
}

:local(.uno) {
    color: blue;
}

:local(.dos) {
    color: green;
}

:local(.tres) {
    color: red;
}

:local(.cuatro) {
    color: darkblue;
}

:local(.cinco) {
    color: brown;
}

:local(.seis) {
    color: cyan;
}

:local(.siete) {
    color: black;
}

:local(.ocho) {
    color: Grey;
}
