
:local(.cajaTablero) {
    background-color: white;
    width: 100%;
    display: block;
    user-select: none;
}

:local(.fila) {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
}

@media screen and (max-width: 768px) {
    :local(.cajaTablero) {
        scale: 85%;
    }
}

@media screen and (max-width: 520px) {
    :local(.cajaTablero) {
        scale: 75%;
    }
}

@media screen and (max-width: 470px) {
    :local(.cajaTablero) {
        scale: 65%;
    }
}

@media screen and (max-width: 400px) {
    :local(.cajaTablero) {
        scale: 55%;
    }
}

@media screen and (max-width: 300px) {
    :local(.cajaTablero) {
        scale: 45%;
    }
}
