:local(.tablaFlex) {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    font-family: monospace;
    user-select: none;
}

:local(.celdaFila),
:local(.celdaFilaFin) {
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
}

:local(.celdaColumna) {
    text-align: center;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
}

:local(.contenedorTablero) {
    margin-top: 60px;
}

:local(.appbar) {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 5px 25px;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
}

:local(.appbar) > * {
    align-self: center;
}

:local(.appbar) > * + * {
    margin-left: 25px;
}

:local(.separadorDerecha) {
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    :local(.celdaFila),
    :local(.celdaFilaFin) {
        font-size: 1.25rem;
    }

    :local(.celdaColumna) {
        margin: 5px 0px;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    :local(.celdaFila),
    :local(.celdaFilaFin) {
        font-size: 1rem;
    }

    :local(.celdaColumna) {
        margin: 2px 0px;
        font-size: 1rem;
    }
}
