
:local(.tablaFlex) {
    margin: 0 auto;
    width: fit-content;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    font-family: monospace;
    user-select: none;
}

:local(.celdaFila),
:local(.celdaFilaFin) {
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
}

:local(.celdaFila) {
    text-align: right;
    margin-right: 15px;
}

:local(.celdaFilaFin) {
    text-align: left;
    margin-left: 15px;
}

:local(.celdaColumna) {
    text-align: center;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
}