:local(.blanca) {
    color: white;
    text-shadow: 0px 0px 5px black;
}

:local(.negra) {
    color: black;
    text-shadow: 0px 0px 5px white;
}

:local(.blanca),
:local(.negra) {
    pointer-events: none;
    user-select: none;
}

.eliminada {
    opacity: 0;
}

.pieza {
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 2.75rem;
    text-align: center;
    font-weight: normal;
    position: absolute;
    transition: all 750ms;
    box-sizing: border-box;
}
