:global(.tableroGris) :local(.filaPar):nth-child(even),
:global(.tableroGris) :local(.filaImpar):nth-child(odd) {
    background-color: #b7c0d8;
}

:global(.tableroGris) :local(.filaPar):nth-child(odd),
:global(.tableroGris) :local(.filaImpar):nth-child(even) {
    background-color: #e8edf9;
}

:global(.tableroVerde) :local(.filaPar):nth-child(even),
:global(.tableroVerde) :local(.filaImpar):nth-child(odd) {
    background-color: #779556;
}

:global(.tableroVerde) :local(.filaPar):nth-child(odd),
:global(.tableroVerde) :local(.filaImpar):nth-child(even) {
    background-color: #ebecd0;
}

:global(.tableroMarron) :local(.filaPar):nth-child(even),
:global(.tableroMarron) :local(.filaImpar):nth-child(odd) {
    background-color: #96743d;
}

:global(.tableroMarron) :local(.filaPar):nth-child(odd),
:global(.tableroMarron) :local(.filaImpar):nth-child(even) {
    background-color: #caab7c;
}

:local(.celda) {
    position: relative;
    height: 65px;
    width: 65px;
    line-height: 65px;
    /* font-size: 2.75rem; */
    /* text-align: center; */
    /* font-weight: normal; */
    box-sizing: border-box;
}

:local(.celdaSeleccionada),
:local(.celda):hover {
    font-size: 3.25rem;
}

@media screen and (max-width: 480px) {
    /* En movil no mostramos el marcador de celda */
    :local(.celdaSeleccionada) :local(.marcador),
    :local(.celda):hover :local(.marcador) {
        visibility: hidden;
    }
}

:local(.celdaSeleccionada) {
    background-color: #b1a7fc !important;
}

:local(.celdaConFicha) {
    cursor: pointer;
}

:local(.marcador) {
    display: none;
    position: absolute;
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
    top: 2px;
    left: 2px;
    line-height: normal;
    cursor: none;
    pointer-events: none;
}

:local(.celdaSeleccionada) :local(.marcador),
:local(.celda):hover :local(.marcador) {
    display: block;
}

:local(.celdaConFicha):local(.puedeLlegar) {
    /* Es atacable */
    cursor: pointer;
    /* background-color: #edbec7 !important; */
    background-color: #c5747f !important;
}

:local(.puedeLlegar):not(:local(.celdaConFicha)) {
    cursor: pointer;
}

:local(.puedeLlegar):not(:local(.celdaConFicha))::before {
    content: "";
    height: 35%;
    width: 35%;
    background-color: #2861ff;
    opacity: 0.5;
    border-radius: 50%;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
