:local(.celda) {
    height: 65px;
    font-size: 2.75rem;
    text-align: center;
    font-weight: normal;
}

:local(.celda):nth-child(even) {
    background-color: #caab7c;
}

:local(.celda):nth-child(odd) {
    background-color: #96743d;
}

:local(.celdaConFicha) {
    cursor: pointer;
}

/* 
:local(.celda) {
    background-color: #ebecd0;
    background-color: #779556;
} */
